<configuration>
  <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>logstash:5000</destination>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    <reconnectionDelay>10000</reconnectionDelay>
    <writeTimeout>5000</writeTimeout>
  </appender>
  
  <appender name="ASYNC_LOGSTASH" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="LOGSTASH"/>
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
  </appender>
  
  <root level="INFO">
    <appender-ref ref="ASYNC_LOGSTASH"/>
  </root>
</configuration> 